
{% extends 'core/base.html' %}

{% block title %}Welcome | {% endblock %} 

{% block content %}

<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-white" style="text-align:center; margin-left:40px;" >
        Hello,<br>
        Welcome to<br>
        <span id="app-title" style="color:orangered; transition:font-size 0.3s;">Chatify App</span>     
    </h1>
</div>

<style>
    #app-title:hover{
        font-size: 5rem;
        font-weight: 850;
    }
</style>


{% endblock %}


